<!DOCTYPE html>
<html>
<head>
  <title>NewWeichang</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">



  <%= stylesheet_link_tag    'mui_application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'mui_application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
